<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    
    <!-- Title Page-->
    <title>Add  Customer Adress</title>

      
        
    <!-- Icons font CSS-->
    <link href="../../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../../vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/bootstrap/css/bootstrap.min.css.map" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../css/customer.main.css" rel="stylesheet" media="all">
     <script th:src="@{../../vendor/jquery/jquery-3.4.1.js}" type="text/javascript"></script>
    <script type="text/javascript">
$(document).ready(function(){

	$('#comboboxCountry').on('change', function(){
		var countryId = $(this).val();
		var countryName = $('#comboboxCountry').find(":selected").text();
		var url = "./country/" + countryId + "/"  + countryName;
		$.ajax({
			
			type: 'GET',
			
			url: url,
			success: function(result) {
				var result = JSON.parse(result);
				var s = '';
				for(var i = 0; i < result.length; i++) {
					s += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
					
				}
				$('#comboboxState').html(s);
			}
		});
	});

	
	
	$('#comboboxState').on('change', function(){
		var stateId = $(this).val();
		var stateName = $('#comboboxState').find(":selected").text();
		var url = "./state/" + stateId + "/"  + stateName;
	
		
		$.ajax({
			type: 'GET',
			url: url,
			success: function(result) {
				var result = JSON.parse(result);
				var s = '';
				for(var i = 0; i < result.length; i++) {
					s += '<option value="' + result[i].name + '">' + result[i].name + '</option>';
				}
				$('#comboboxCity').html(s);
			}
		});
	});
	
});
</script>
    
  
    
</head>
<body>
<div th:fragment="addressform"  class="address-block">
    

    
               
                <div class="card-body">
                
                   
   <form th:action="@{/addresses/shwoFromToAddAddress}"  th:object= "${address}" class="form-inline">
                    
                        
             
       
     
 
       <div class="form-row">
                            <div class="name">Country</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="country" id="comboboxCountry"   th:field="*{country}" >
                                            <option  value="" >Choose country </option>
                                            <option th:each="country : ${countries}"
                                                    th:value="${country.id}"
                                                    th:attr="value = ${country.name}"
                                                    th:id="${country.name}"
                                                    th:text="${country.name}">
                                            </option> 
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
             
             
                      <div class="form-row">
                            <div class="name">State</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                       <select  id="comboboxState" name="state" th:field="*{state}"> 
                                          <option  value="" >Choose state </option>   
                                                                 
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                     <div class="form-row">
                            <div class="name">City</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                       <select  id="comboboxCity" name="city" th:field="*{city}"> 
                                          <option  value="" >Choose city </option>   
                                                                       
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
       
        
        <div class="form-row">
            <div class="name">Street</div>
           <div class="value">
             <div class="input-group">
                <input class="input--style-5" type="text" th:field= "*{street}" name="street"  placeholder="Street">
                 </div>
           </div>
     </div>
     
      
     
          <div class="form-row">
            <div class="name">Zip</div>
           <div class="value">
             <div class="input-group">
                <input class="input--style-5" type="text" th:field= "*{zip}" name="zip"  placeholder="Zip">
                </div>
           </div>
       </div>               
       
      <div class="form-row">
            <div class="name">Territory</div>
           <div class="value">
             <div class="input-group">
                <input class="input--style-5" type="text" th:field= "*{territory}" name="territory"  placeholder="Territory">
              </div>
           </div>
     </div>
             
                       
                        <div>
                            <button  class="btn btn--radius-2 btn--red" type="submit">Save</button>
                        </div>
                           <br><br><br>
                           
                           
                                 
                              <h4 class="col-md-6 position-static p-4 pl-md-0">
                              <a  th:href= "@{/customers/list}" class="stretched-link">Back To Customers Form</a>
                             </h4>
                                       
                                                    
                    </form>
                </div>
              </div>    
                    
       
 
      <!-- Jquery JS-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
     <script src="../../vendor/jquery/jquery-3.4.1.js"></script>
     
    
    <!-- Vendor JS-->
    <script src="../../vendor/select2/select2.min.js"></script>
    
   

    <!-- Main JS-->
    <script src="../../js/global.js"></script>
 
</body>

</html>
